<div class="flex items-center justify-center w-full h-screen">
  <section class="flex flex-col bg-white p-6 rounded-2xl min-w-[50%] gap-4">
    <div class="flex flex-col items-center justify-center gap-4">
      <span class="font-bold text-2xl">{{ producto.nombre }}</span>
      <img class="h-44 ml-4" [src]="producto.imagen" alt="Imagen de {{ producto.nombre }}">
      <div class="flex flex-col justify-start text-xl">
        <span class=""><span class="font-semibold">Descripción:</span> {{ producto.descripcion }}</span>
        <span class=""><span class="font-semibold">SKU:</span> {{ producto.sku }}</span>
        <span class=""><span class="font-semibold">Precio:</span> {{ formatearNumero(producto.precio) }}</span>
        <span class=""><span class="font-semibold">Stock:</span> {{ producto.stock }}</span>
        <span class=""><span class="font-semibold">Categoría:</span> {{ producto.categoria }}</span>
      </div>
      <div class="flex gap-6">
        <button mat-raised-button color="basic" routerLink="/">Volver</button>
        <button
          mat-raised-button color="primary"
          routerLink="/editar-producto/{{producto._id}}"
        >
          Editar
        </button>
        <button
          mat-raised-button color="warn"
          (click)="eliminarProducto(producto._id)"
        >
          Eliminar
        </button>
      </div>
    </div>
    <!--    <form class="flex flex-col items-center w-full gap-2" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Nombre</mat-label>-->
    <!--        <input matInput formControlName="nombre">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Descripción</mat-label>-->
    <!--        <input matInput formControlName="descripcion">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('descripcion')?.hasError('required') && productoForm.get('descripcion')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>SKU</mat-label>-->
    <!--        <input matInput formControlName="sku">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('sku')?.hasError('required') && productoForm.get('sku')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Url Imagen</mat-label>-->
    <!--        <input matInput formControlName="imagen">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('imagen')?.hasError('required') && productoForm.get('imagen')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Precio</mat-label>-->
    <!--        <input matInput formControlName="precio" type="number">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Stock</mat-label>-->
    <!--        <input matInput formControlName="stock" type="number">-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('stock')?.hasError('required') && productoForm.get('stock')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <mat-form-field class="w-1/2">-->
    <!--        <mat-label>Categoría</mat-label>-->
    <!--        <mat-select formControlName="categoria">-->
    <!--          <mat-option value="Electronica">Electronica</mat-option>-->
    <!--          <mat-option value="Salud y Belleza">Salud y Belleza</mat-option>-->
    <!--          <mat-option value="Alimentos">Alimentos</mat-option>-->
    <!--          <mat-option value="Hogar">Hogar</mat-option>-->
    <!--        </mat-select>-->
    <!--        <mat-hint-->
    <!--          *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched"-->
    <!--          class="text-red-600"-->
    <!--        >-->
    <!--          Este campo es obligatorio-->
    <!--        </mat-hint>-->
    <!--      </mat-form-field>-->
    <!--      <div class="flex gap-6">-->
    <!--        <button mat-raised-button color="warn" routerLink="/">Cancelar</button>-->
    <!--        <button-->
    <!--          mat-raised-button color="primary"-->
    <!--          type="submit"-->
    <!--          [disabled]="productoForm.invalid"-->
    <!--        >-->
    <!--          Agregar-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </form>-->
  </section>
</div>
